<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodicount">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".organizer.OrganizerStudentSubscribe"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerDashboard"
            android:exported="false" />
        <activity
            android:name=".attendanceMarkingOnline"
            android:exported="false" />
        <activity
            android:name=".student.StudentOrganiserSubscribe"
            android:exported="false"
            />
        <activity
            android:name=".timetable.TimetableManagerActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerLogin"
            android:exported="false" />
        <activity
            android:name=".Organizer_Student_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".organizer.OrganizerSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".timeslot.TimeSlotManagerActivity"
            android:exported="true" />
        <activity
            android:name=".StudentManagerDelete"
            android:exported="true" />
        <activity
            android:name=".StudentManagerReadStudentDetails"
            android:exported="true" />
        <activity
            android:name=".StudentManagerEditStudentDetails"
            android:exported="true" />
        <activity
            android:name=".StudentManagerAddStudent"
            android:exported="true" />
        <activity
            android:name=".StudentManagerDisplayStudentList"
            android:exported="false" />
        <activity
            android:name=".StudentManagerActivity"
            android:exported="true" />
        <activity
            android:name=".Attendance_Marking"
            android:exported="true" />
        <activity
            android:name=".student.Attendance_user_profile_edit"
            android:exported="true" />
        <activity
            android:name=".student.Attendance_User_Profile"
            android:exported="true" />
        <activity
            android:name=".Attendance_homepage"
            android:exported="true" />
        <activity
            android:name=".student.Attendance_Student_Signup"
            android:exported="true" />
        <activity
            android:name=".student.Attendance_Student_Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".studentsnotes.StudentSearch"
            android:exported="false" />
        <activity
            android:name=".studentsnotes.StudentNotesUserView"
            android:exported="false" />
        <activity
            android:name=".studentsnotes.StudentNotesManagement"
            android:exported="false" />
        <activity
            android:name=".studentsnotes.StudentsNotesEdit"
            android:exported="false" />
        <activity
            android:name=".studentsnotes.StudentsNotesAdd"
            android:exported="false" />
    </application>

</manifest>