<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodicount">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodiCount">
        <activity
            android:name=".Organizer_Student_Login"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity 
            android:name=".Organizer_Student_Login"
            android:exported="true" />

        <activity
            android:name=".timetable.TimetableManagerActivity"
            android:exported="true" />
        <activity
            android:name=".Attendance_Marking"
            android:exported="true"></activity>
        <activity
            android:name=".Attendance_user_profile_edit"
            android:exported="true">

        </activity>
        <activity
            android:name=".Attendance_User_Profile"
            android:exported="true"></activity>
        <activity
            android:name=".Attendance_homepage"
            android:exported="true"></activity>
        <activity
            android:name=".Attendance_Student_Signup"
            android:exported="true"></activity>
        <activity
            android:name=".AttendanceManagerActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>